<%- include('./includes/common_view/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/product_detail.css">
<link rel="stylesheet" type="text/css" href="/css/product_detail_sub/review.css">
<link rel="stylesheet" type="text/css" href="/css/common_css/related_products.css">
<link rel="stylesheet" type="text/css" href="/css/common_css/product_card.css">

</head>

<body>

    <header id="header">
        <%- include('./includes/common_view/navigation.ejs') %>
        <%- include('./includes/common_view/headadd.ejs') %>
    </header>

    <section id="product_overview">
        <div id="product_img_container">
            <img src="/images/sample_6.jpg" alt="" class="centralize">
        </div>
        <div id="buying_info">
            <h3 id="prodduct_title">A fancy product title</h3>
            <h2 id="product_price">$ 60.32</h2>
            <h5 id="ratings">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <h5>(72 ratings)</h5>
            </h5>
            <p id="about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
            <h2 id="sizes">Pick your size:</h2>
            <button class="size">12</button>
            <button class="size">14</button>
            <button class="size">16</button>
            <button class="size">18</button>
            <button class="size">20</button>
            <button class="size">22</button>
            <button class="size">24</button>
            <h1 id="mp">More precise options</h1>
            <button class="size">o1</button>
            <button class="size">o2</button>
            <form id="product_detail_form" action="">
                <button id="amount_decrease">-</button>
                <input type="text" value="1" name="amount" id="amount">
                <button id="amount_increase">+</button>
                <input type="submit" value="ADD TO CART" id="add_to_cart">
            </form>
        </div>
        <div id="full_detail">
            <ul id="detail_links">
                <li><button class="detail_link">Description</button></li>
                <li><button class="detail_link">Manufacturer</button></li>
                <li><button class="detail_link">Reviews</button></li>
            </ul>
            <div id="detail_display_box">
                <!----order matters here----->
                <div class="all_prod_info_container activate">
                    <%- include('./includes/product_detail_subview/description.ejs') %>
                </div>
                <div class="all_prod_info_container">
                    <%- include('./includes/product_detail_subview/features.ejs') %>
                </div>
                <div class="all_prod_info_container">
                    <%- include('./includes/product_detail_subview/review.ejs') %>
                </div>
            </div>
        </div>
    </section>

    <%- include('./includes/common_view/related_products.ejs') %>
    <%- include('./includes/common_view/footer.ejs') %>

    <script type="module" src="/scripts/product_detail.js"></script>

    <% -include('./includes/common_view/end.ejs') %>